<!doctype=html>
<html>
  <head>
    <title>
      mrna test page: contact us
    </title>

  </head>
  <body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  {% block content %}
  <h1>Contact Us</h1>
    {% from "_formhelpers.html" import render_field %}
    <form method=post action="/contact/">
      <dl>
        {{ form.hidden_tag() }} 
        {{ render_field(form.subject) }}
        {{ render_field(form.sender) }}
        {{ render_field(form.emessage) }}
        {{ render_field(form.nospam) }}
      </dl>
      <input type='submit' value='Send Message' />
    </form>
  {% endblock %}
  </body>
</html>

